<div class="container">
  <h1><%= @event.name %></h1>

  <h2>Location: <%= @event.location %></h2>
  <p>Starts at: <%= @event.starts_at %></p>
  <p>Ends at: <%= @event.ends_at %></p>
  <ul>Attendees: </ul>
  
  <form action="/events/<%= @event.id %>" method="post">
    <h2>Edit this event</h2>
      <%= erb :_event_form %>
  </form>
</div>
