<div class="profile">
  <h1><%= @event.name %></h1>

  <h2>Location: <%= @event.location %></h2>
  <p>Created by: <%= @creator.first_name %></p>
  <p>Starts at: <%= display_start_time(@event)%></p>
  <p>Ends at: <%= display_end_time(@event) %></p>
  <p>Description: <%= @event.description %></p>
  <p>Attendees: <br>
    <% @attendances.each do |attendance| %>
      <img src="<%= attendance.user.gravatar_url %>"/>
    <% end %>
  </p>


  <form action="/events/<%= @event.id %>/eventattendances" method="POST">
      <button class="submit_button" type="submit">Attend Event</button>
  </form>

  <% if user_logged_in?%>
  <% if @creator.id == current_user.id %>
    <form action="/events/<%= @event.id %>/edit">
      <button class="submit_button" type="submit">Edit Event</button>
    </form>
    <form action="/events/<%= @event.id %>/delete" method="POST">
      <button class="submit_button" type="submit">Delete Event</button>
    </form>

  <% end %>
  <% end %>
</div>
<div id="map_canvas"></div>
