<div class="container">
  <h1><%= @event.name %></h1>

  <h2>Location: <%= @event.location %></h2>
  <p>Created by: <%= @creator.first_name %></p>
  <p>Starts at: <%= display_start_time(@event)%></p>
  <p>Ends at: <%= display_end_time(@event) %></p>
  <p>Description: <%= @event.description %></p>
  <ul>Attendees: 
    <% @attendances.each do |attendance| %>
      <li><%= attendance.user.first_name %></li>
    <% end %>
  </ul>


  <form action="/events/<%= @event.id %>/eventattendances" method="POST">
      <input type="submit" value="Attend Event">
  </form>

  <% if user_logged_in?%>
  <% if @creator.id == current_user.id %>
    <form action="/events/<%= @event.id %>/edit">
      <input type="submit" value="Edit Event">
    </form>
    <form action="/events/<%= @event.id %>/delete" method="POST">
      <input type="submit" value="Delete Event">
    </form>

  <% end %>
  <% end %>

</div>
