<div class="container">
  <h1><%= @event.name %></h1>

  <h2>Location: <%= @event.location %></h2>
  <p>Starts at: <%= display_start_time(@event) %></p>
  <p>Ends at: <%= display_end_time(@event) %></p>
  <p>Description: <%= @event.description %></p>
  <ul>Attendees: </ul>
  
  <h2>Edit this event</h2>
  <form class='pure-form' action="/events/<%= @event.id %>" method="post">  
      <%= erb :_event_form %>
  </form>
</div>
